.name-display {

  text-align: center;
}

.response-name {
  font-size: .66rem;
  text-align: left;
}

.response-value {
  text-align: left;
}

.party-control {
  max-width: 1.7rem;
}
.party-header {
  border: 1px solid var(--ch-mauve);
  display: flex;
  padding: 0.25rem 0;
}
.party-header>h3 {
  font-weight: 500;
}

input {
  margin: 0;
  padding: 0;

  text-align: center;
}
input[type="text"] {
  width: calc(100% - 4px); /* 4px accounts for the 2px border on inputs */
}
input[type="number"] {
  font-size: 1.15rem;
  font-weight: 500;
  max-width: 1rem;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.attendance-slider-container {
  min-height: 3.2rem;
  max-width: 6.2rem;
  margin: 25% auto;
  border-radius: 1.6rem;
  background: var(--ch-black);
}
.attendance-slider-circle {
  min-height: 3rem;
  max-width: 3rem;
  border-radius: 1.5rem;
  /* background: var(--ch-white); */
  position: relative;
  top: 0.15rem;
}
.attendance-slider-circle>img {
  max-width: 100%;
}
.slider-false {
  left: 0.2rem;
  transition: 0.25s;
}
.slider-true {
  left: 3rem;
  transition: 0.25s;
}


.arrow-true {
  transform: none;
  transition: 0.2s;
}
.arrow-false {
  transform: rotate(-90deg);
  transition: 0.2s
}
.true {

}
.false {
  display: none !important;
}
